.authSection {
  background-color: #027CD5;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
}

.authSection .headerWrap{
  display: flex;
  color: white;
  align-items: center;
  font-size: 1.4em;
  margin-bottom: 30px;
  font-weight: 500;
  justify-content: center;
  gap: 17px;
}

.authSection .flipLogo {
  width: 200px;
  margin-bottom: 2em;
}

.authSection .metaWrap {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.authSection .metaWrap a{
  color: white;
  margin-top: 10px;
}
.authSection .metaWrap img {
  margin-top: 20px;
  animation: wiggle 0.3s linear infinite;
  animation-play-state: paused;
}

.authSection .metaWrap img:hover {
  animation-play-state: running;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(-4deg);
  }

  75% {
    transform: rotateZ(4deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

.button {
  color: #027CD5;
  background-color: #ffde14;
  border: 2px solid #ffde14;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-width: 1px;
  width: fit-content;
  padding: 13px 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2em;
}

.button:hover {
  background-color: transparent;
  color: #ffde14;
}

.address {
  background-color: #e5771b;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: none;
}